<div class="small__card__container">
    <div class = "small__card__content">
        <div class="small__card__image">
            <img src="https://lncimg.lance.com.br/cdn-cgi/image/width=390,height=240,fit=crop,quality=75,format=webp/uploads/2024/02/000_33TT7HN-1-aspect-ratio-512-320-1.jpg"
            alt="">
        </div>
        <div class="small__card__title">
            <h1><a href="#">Mbappé comunica saída do PSG</a></h1>
        </div>
    </div>
    <div class = "small__card__container__separator">
    <hr>
    </div>
</div>

